<h1>Comments</h1>

<div class="well">
	<div id="disqus_thread"
		data-disqus_shortname="~~:raw($config.disqus_shortname)~"
		data-disqus_identifier="~~:raw($page.path.relative)~">
	</div>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<script src="features/Disqus/public/feature_disqus.js"></script>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

