<div class="panel panel-default">
	<div class="panel-heading">Classes</div>
	<div class="panel-body">
		<?php
		function nested_navi($all_classes) {
			$returner = '';
			foreach ($all_classes as $namespace => $classes) {
				$returner .= $namespace;
				$returner .= '<ul>';

				foreach ($classes as $class) {
					$class		= strip_tags($class);
					$full		= $namespace . '/' . $class;
					$returner	.= '<li>';
					$returner	.= '<a href="' . :url('class/' . $full) . '">' . $class . '</a>';
					$returner	.= '</li>';
				}
				
				$returner .= '</ul>';
			}
			return $returner;
		}

		echo nested_navi($classes);
		?>
	</div>
</div>
