#table_members p { margin: 0; }

.function-wrapper { cursor: pointer; }
.function-wrapper::before { content: "▶"; width: 17px; float: left; color: #999; }
.function-wrapper.is-unfolded::before { content: "▼"; }
.function-wrapper h4 code { font-size: 80%; vertical-align: middle; font-weight: normal; }
.function-wrapper h4 .label { vertical-align: middle; }
.function-wrapper h4:hover { color: #005580; }
.function-wrapper .type { color: #000; font-size: 80%;}
pre { line-height: 16px; }

.function-wrapper .well .table-condensed { margin: 0; }