<li class="dropdown">
	<a href="/" class="dropdown-toggle" data-toggle="dropdown">Views <span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
		<li ~if (:raw($view) === 'enduser'):~class="active"~endif~>
			<a href="~~:url(:raw($page.path.relative), ['view' => 'enduser'])~" title="Shows only public members and methods">
				Enduser view<br />
				<small>Hides private and protected items</small>
			</a>
		</li>
		<li ~if (:raw($view) === 'developer'):~class="active"~endif~>
			<a href="~~:url('', ['view' => 'developer'])~" title="Shows all members and methods">
				Developer view<br />
				<small>Shows all items</small>
			</a>
		</li>
	</ul>
</li>
