<!doctype html>

<html>
<head>
	<base href="~~:raw($page.base_href)~" />
	<meta charset="~~:raw($page.charset)~" />

	<title>Morrow PHP Framework</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>

<div class="container">
	
	<div class="row">
		<div class="col-lg-12">

			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Morrow PHP Framework</a>
				</div>

				<div class="navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li ~if (!:raw($show_protected_and_private)):~class="active"~endif~><a href="~~:url(:raw($page.path.relative), array('show_protected_and_private' => ''))~" title="Shows only public members and methods">Enduser view</a></li>
						<li ~if (:raw($show_protected_and_private)):~class="active"~endif~><a href="~~:url('', array('show_protected_and_private' => '1'))~" title="Shows all members and methods">Developer view</a></li>
					</ul>
				</div>
			</nav>

		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">

			<div class="panel panel-default">
				<div class="panel-heading">Manual</div>
				<div class="panel-body">
					<?php
					echo :markdown(file_get_contents('../vendor/morrow/core/docs/sidebar.md'));
					?>

					~if (!empty($features)):~
						Added features

						<ul>
						~foreach ($features as $feature):~
							<li><a href="feature/~~:escape($feature)~">~~:escape($feature)~</a></li>
						~endforeach~
						</ul>
					~endif~

				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Classes</div>
				<div class="panel-body">
					<?php
					function nested_navi($all_classes) {
						$returner = '';
						foreach ($all_classes as $namespace => $classes) {
							$returner .= $namespace;
							$returner .= '<ul>';

							foreach ($classes as $class) {
								$class		= strip_tags($class);
								$full		= $namespace . '/' . $class;
								$returner	.= '<li>';
								$returner	.= '<a href="' . :url('object/' . $full) . '">' . $class . '</a>';
								$returner	.= '</li>';
							}
							
							$returner .= '</ul>';
						}
						return $returner;
					}

					echo nested_navi($classes);
					?>
				</div>
			</div>
		</div>

		<div id="content" class="col-lg-9">
			~:block('body')~
			~:endblock()~
		</div>
	</div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="javascript/default.js"></script>

</body>
</html>
